@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 300,400,700; }

html {
  font-size: 10px;
  box-sizing: border-box; }

.primary-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 2rem;
  color: #687a80;
  position: relative; }
  .primary-heading.highlight::before {
    content: '';
    width: 20rem;
    height: .5rem;
    background-color: #37BB8A;
    position: absolute;
    top: -5rem; }
  .primary-heading.header-h1 {
    width: 80%; }
  .primary-heading.hero-h1::before {
    width: 100%;
    text-align: center; }
  .primary-heading.features-h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: right; }
    .primary-heading.features-h1::before {
      right: 0; }
  .primary-heading.features-h1--2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: left; }
    .primary-heading.features-h1--2::before {
      left: 0; }
  .primary-heading.orders-h1 {
    font-size: 3rem;
    font-weight: 400; }
  .primary-heading.footer-h1 {
    color: #FBFBFC;
    font-weight: 400;
    margin-bottom: 4rem; }
    .primary-heading.footer-h1::after {
      content: "";
      width: 100%;
      height: .4rem;
      background-color: #37BB8A;
      position: absolute;
      bottom: -1.8rem;
      left: 0; }

.primary-text {
  color: #515F64;
  font-size: 1.8rem;
  position: relative;
  color: #829399; }
  .primary-text.features-p {
    text-align: left; }
  .primary-text.features-p2 {
    text-align: right; }
  .primary-text.header-p {
    max-width: 40rem; }
  .primary-text.footer-text {
    color: #FBFBFC;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .1rem;
    width: 70rem;
    text-align: center;
    margin-bottom: 3.5rem;
    background-color: rgba(55, 187, 138, 0.1);
    border-radius: .8rem;
    padding: 2rem; }

.sub-text {
  color: #515F64;
  font-size: 1.65rem;
  position: relative;
  color: #829399; }

@media (max-width: 1300px) {
  .primary-heading {
    font-size: 3rem;
    line-height: 3.5rem; } }

@media (max-width: 1000px) {
  .primary-heading {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center; }
  .primary-text {
    text-align: center;
    font-size: 1.5rem; }
    .primary-text.hero-text {
      padding: 0 2rem;
      margin-bottom: 1.5rem; }
  .primary-heading.header-h1 {
    width: 80%;
    text-align: center; }
    .primary-heading.header-h1::before {
      top: -3rem;
      width: 100%;
      left: 0;
      height: .3rem; }
  .primary-heading.features-h1 {
    text-align: center; }
    .primary-heading.features-h1.highlight::before {
      width: 100%; }
  .primary-text.features-p2 {
    text-align: center;
    margin-bottom: 10rem; }
  .primary-text.header-p {
    background: rgba(251, 251, 252, 0.8);
    backdrop-filter: blur(0px); }
  .primary-heading .hero-h1 {
    color: red; } }

img {
  transform: translateY(0);
  transition: transform .3s ease; }
  img:hover {
    transform: translateY(-1rem); }

.app-btn {
  background-color: #37BB8A;
  padding: 1rem 2rem;
  border-radius: .8rem;
  text-decoration: none;
  width: 20rem;
  text-align: center;
  margin-top: 3rem;
  color: #FBFBFC;
  transform: translateY(0);
  transition: transform .3s ease;
  position: relative;
  z-index: 1;
  transform-style: preserve-3d; }
  .app-btn::after {
    content: "Start trading today!";
    font-size: 1.2rem;
    position: absolute;
    color: #37BB8A;
    top: 50%;
    left: 50%;
    margin-left: -32%;
    transform: translateZ(-1px) translateY(-1.1rem);
    opacity: 0;
    z-index: -1;
    border: 1px solid white;
    padding: 3px 5px;
    background-color: #fbfbfc;
    border-radius: .4rem;
    transition: all .3s ease; }
  .app-btn:hover {
    transform: translateY(-0.4rem); }
    .app-btn:hover::after {
      top: 120%;
      opacity: 1; }

.footer {
  width: 100%;
  height: 70vh;
  background: linear-gradient(to bottom, #57cea2, #e5f7d3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  padding-top: -20rem; }
  .footer-btn {
    margin-top: 0; }
  .footer__content-top {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__content-bot {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .footer__content-bot .footer-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%; }
      .footer__content-bot .footer-icons--item img {
        height: 4.5rem; }

.header {
  background-color: #FBFBFC;
  padding: 0 1rem;
  width: 100%;
  height: calc(90vh - 8rem);
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2; }
  .header__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .header__left--container {
      width: 80%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
  .header__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%; }
    .header__right img {
      transform: translatey(20%);
      transform-origin: center;
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 60rem;
      width: 100%;
      z-index: 100; }

@media (max-width: 1000px) {
  .header {
    flex-direction: column; }
    .header__left {
      width: 100%; }
      .header__left--container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .header__right {
      height: 100%;
      width: 100%;
      max-width: 30rem; }
      .header__right img {
        z-index: 0; }
  .hero {
    z-index: -2; } }

nav {
  width: 100%; }

.nav {
  max-width: 100%;
  position: fixed;
  z-index: 200;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 0 3rem;
  background-color: #FBFBFC; }
  .nav__logo-container {
    width: 15rem;
    opacity: 1;
    transition: opacity .3s ease; }
    .nav__logo-container:hover {
      opacity: .8; }
  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    list-style-type: none; }
    .nav__links--item {
      font-size: 2rem;
      font-weight: 400; }
      .nav__links--item:not(:last-child) {
        margin-right: 2rem; }
      .nav__links--item a {
        color: #515F64; }
        .nav__links--item a:link, .nav__links--item a :visited, .nav__links--item a :hover, .nav__links--item a :active {
          text-decoration: none; }

.features {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  background-color: #FBFBFC; }
  .features--1 {
    padding-top: 15rem; }
  .features__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .features__left--container {
      width: 50%; }
    .features__left img {
      width: 40%; }
  .features__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .features__right--container {
      width: 50%; }
    .features__right img {
      width: 65%; }

@media (max-width: 1000px) {
  .features {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
    .features__left {
      width: 100%; }
      .features__left img {
        width: 25%; }
    .features__right {
      width: 50%; }
      .features__right.mob-right {
        order: 2; }
      .features__right img {
        width: 65%; } }

.orders {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 45rem 0; }
  .orders__bg--top {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/SVG/divide.svg);
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: scale(1, 1); }
  .orders__bg--bot {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/SVG/divide-2.svg);
    background-size: 110%;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 0;
    transform: scale(1, 1) translateY(0.1rem); }
  .orders__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .orders__left--container {
      width: 50%; }
  .orders__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem; }
    .orders__right img {
      width: 55%;
      z-index: 3; }

.hero {
  width: 100%;
  height: 110vh;
  background: linear-gradient(to bottom right, #EBF3E3, #C0F6F0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-top: 30rem; }
  .hero__bg--top {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/SVG/divide.svg);
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: scale(-1, 1); }
  .hero__bg--bot {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/SVG/divide.svg);
    background-size: 110%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 0;
    transform: scale(-1, -1); }
  .hero img {
    width: 100%;
    max-width: 45rem;
    position: absolute;
    bottom: 0;
    transform: translateY(15%); }

@media (max-width: 1000px) {
  .hero {
    padding-top: 15rem;
    height: 80vh;
    overflow: visible; }
    .hero img {
      max-width: 30rem;
      transform: translateY(0rem);
      z-index: 1000;
      margin-bottom: -50px; } }
