.features {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    background-color: $color-white;

    &--1 {
        padding-top: 15rem;
    }

    &__left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--container{
            width: 50%;
        }

        & img {
            width: 40%;
        }
    }
    &__right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--container {
            width: 50%;
          }

        & img {
            width: 65%;
        }
    }
}

@media (max-width: 1024px){
    .features {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 90vh;
        padding-bottom: 10rem;

        &--1 {
            padding-top: 10rem;
        }

        &__left {
             width: 100%;
            
            & img {
                width: 25%;
            }
            
        }
        &__right {
            width: 50%;

            &.mob-right {
                width: 100%;
                order: 2;
            }
            & img {
                width: 65%;
            }
        }
    }

}

@media (max-width: 500px){

    .features__left--container {
        width: 90%;
    }

    .features__right {
        width: 100%;
    }

    .features__right img {
        width: 70%;
    }

    .features__right--container {
        width: 90%;
    }
    .primary-text.features-p {
        font-size: 1.4rem;
        width: 100%;
    }

    .features__left img {
        width: 50%;
   }
}