.footer {
  width: 100%;
  height: 70vh;
  background: linear-gradient(to bottom, lighten($color-primary, 10%),rgb(229, 247, 211));
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-content: center;
  position: relative;
  padding-top: -20rem;
  
  &-btn {
    margin-top: 0;
  }

  &__content-top {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  &__content-bot {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    & .footer-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;

      &--item {
        & img {
          height: 4.5rem
        }
      }
    }
  }
}
