.footer {
  width: 100%;
  height: 100vh;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;

  &__content-top {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .form {
      width: 30%;
      height: 5rem;
      background: red;
    }
  }
  &__content-bot {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    & .footer-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
    }
  }
}
