.app-btn {
    
    background-color: $color-primary;
    padding: 1rem 2rem;
    border-radius: .8rem;
    text-decoration: none;
    width: 20rem;
    text-align: center;
    margin-top: 3rem;
    color: $color-white;
    transform: translateY(0);
    transition: transform .3s ease;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;

    &::after {
        content: "Start trading today!";
        font-size:1.2rem;
        position: absolute;
        color: $color-primary;
        top: 50%;
        left: 50%;
        margin-left: -32%;
        transform: translateZ(-1px) translateY(-1.1rem);
        opacity: 0;
        z-index: -1;
        border: 1px solid white;
        padding: 3px 5px;
        background-color: rgba($color-white,1);
        border-radius: .4rem;
        transition: all .3s ease;
        
        
    }
    &:hover{
        transform: translateY(-.4rem);
        &::after {
            top:120%;
            opacity: 1;
        }
    }
}